@model aspnet_core_dotnet_core.Pages.Services.CommentForm

<div class="page-post-comment">
    <h3>Share Your Thoughts</h3>
    <form method="post">
        <label for="name">Name</label><br />
        <input id="name" name="Name" required asp-for="Name">
        <br />
        
        <label for="email">Email</label><br />
        <input id="email" type="email" name="Email" required asp-for="Email">
        <br />
        
        <label for="comment-title">Title</label><br />
        <input id="comment-title" name="Title" required asp-for="Title">
        <br />
        
        <label for="comment-text">Comment</label><br />
        <textarea id="comment-text" name="Text" required asp-for="Text"></textarea>
        <br />
        
        <button type="submit">Submit Comment</button>
    </form>
</div>
