.duties {
    padding-top: 10px;
}

.employer {
    padding-left: 15px;
}

.location {
    padding-left: 15px;
}

.timespan {
    padding-left: 15px;
}

.skills {
    padding-left: 15px;
    padding-bottom: 20px;
}
