@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About this site.</h1>

<p>Welcome to the personal web site of Paul M. Parks. This is where I keep my web development skills current while sharing snippets of code, utilities, libraries, and what little development wisdom I’ve gathered in my career. It’s also where I show off my family, talk about my hobbies, or just pontificate from time to time.</p>

<p>If you find the articles interesting, or if you’d like more information on a particular topic,
    <a href="mailto:paul@smartsam.com">let me know</a>.
</p>
