@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h2>How to Contact Me</h2>

<address>
    <strong>Me:</strong> <a href="mailto:paul@parkscomputing.com">paul@parkscomputing.com</a><br />
    <strong>Admin:</strong> <a href="mailto:admin@example.com">admin@parkscomputing.com</a>
</address>

<address>
    <a href="https://www.linkedin.com/in/paulmooreparks/">LinkedIn</a>
    <br/>
    <a href="https://github.com/paulmooreparks/">GitHub</a>
</address>

