@page "{section?}/{**slug}"
@model aspnet_core_dotnet_core.Pages.PageImportModel
@{
    Layout = "_Import";
    ViewData["Title"] = Html.Raw(Model.WpTitle);
}
<h1>@Html.Raw(Model.WpTitle)</h1>
@Html.Raw(Model.WpContent)
