<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    <title>Barcode Generator</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="date" content="2015-09-30T11:52:09" />
    <meta http-equiv="last-modified" content="2022-12-23T11:52:09" />

    <link rel='canonical' href='http://www.parkscomputing.com/page/barcode-generator/' />
    <link rel="stylesheet" href="/highlightjs/styles/default.min.css" />
    <link rel="stylesheet" href="/css/barcode.css" />

    <script src="/js/barcode.js"></script>
    <script src="/js/htmx.min.js"></script>
    <script src="/highlightjs/highlight.min.js"></script>
</head>

<body>
    <h1>JavaScript Barcode Generator</h1>

    <p>
        This is a very old barcode generator in JavaScript that I wrote long, long ago. I intend to update
        it eventually to take advantage of the <code>canvas</code> element, but for now, feel free to play
        around with this page or the <a href="/content/ean13.html?code=0724171484086&desc=Jammie%20Dodgers">stand-alone page</a>.
    </p>

        <div>
            <div class="postentry">
                <div class="barcodeContainer">
                    <div class="barcode" id="EAN-13">
                        <div class="quietZone">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div class="leader">
                            <div class="bitOn"></div>
                            <div class="bitOff"></div>
                            <div class="bitOn"></div>
                        </div>
                        <div id="EAN-13_digit01" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit02" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit03" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit04" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit05" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit06" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div class="separator" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOn"></div>
                            <div class="bitOff"></div>
                            <div class="bitOn"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit07" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit08" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit09" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit10" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit11" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="EAN-13_digit12" class="digit">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div class="trailer">
                            <div class="bitOn"></div>
                            <div class="bitOff"></div>
                            <div class="bitOn"></div>
                        </div>
                        <div class="quietZone">
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                            <div class="bitOff"></div>
                        </div>
                        <div id="labels">
                            <p id="codeDisplay">1</p>
                            <p id="descDisplay">a</p>
                            <p id="credit"><a href="http://parkscomputing.com/">http://parkscomputing.com/</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    <div style="clear: left;">

        <p>
            Like I said above, this is old stuff, and not my best work, but I'm including it here for archival
            purposes. The code depends upon some CSS classes as well (shown farther below).
        </p>

        <p>
            Soon, I'll rewrite this with more modern JavaScript and use the <code>canvas</code> element for painting
            the barcode.
        </p>

        <h2>JavaScript Source</h2>

        <pre><code class="language-javascript" hx-get="/js/barcode.js" hx-trigger="load" ></code></pre>

        <h2>CSS Source</h2>

        <pre><code class="language-javascript" hx-get="/css/barcode.css" hx-trigger="load" ></code></pre>
    </div>
    <script>
        document.body.addEventListener('htmx:afterSwap', function (evt) {
            hljs.highlightAll();
        });
    </script>
</body>
</html>
